body{
    margin: 0;
    padding: 0;
   
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/slider5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 130vh;
}
.login-box{
    width: 320px;
    height: 740px;
    background: rgba(12, 0, 0, 0.795);
    color: #fff;
    top: 50%;
    left: 53%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 120px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"], input[type="email"],input[type="tel"],textarea
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    
}




.register_btn
{
    border:1px solid white;
    outline: none;
    height: 40px;
    background: transparent;
    margin-top: 20pt;
    color: white;
    margin-top: 0pt;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
}
.register_btn:hover
{
    cursor: pointer;
    
    background: #bf55ec;
   
}


.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #bf55ec;
}

.back_btn{
	margin-top:10px;
	color: #bf55ec;
	margin-bottom:15px;
    padding: 10px;
    margin-top: 15px;
    border:1px solid #bf55ec;
    background-color: transparent;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}
.back_btn:hover
{
    cursor: pointer;
    background: white;
    border:1px solid #bf55ec;
    color: #bf55ec;
}
.logout_button{
	background-color: #000000;
    color: white;
    padding:10px;
    float: right;
    margin-top: 10px;
	font-size:18px;
	font-weight: bold;
}

.sign_up_btn {
	border:1px solid white;
    outline: none;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.sign_up_btn:hover
{
    cursor: pointer;
    background: #bf55ec;
    border:1px solid white;
    color: white;

}


